# Python
__pycache__/
*.py[cod]
.pytest_cache/
pyproject.toml

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.egg-info/

# Virtual environments
.venv/

# local working files
ai_copy_instruction.txt
notebooks/battery_batch_trial_v4 (prod).ipynb
notebooks/bs_testserver_auth.ipynb
notebooks/separator_sample_registration_local.ipynb




